ColumnLimit: 512
BreakConstructorInitializers: BeforeComma
AllowShortFunctionsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
UseTab: Never
BasedOnStyle: LLVM
BreakBeforeBraces: Attach