body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map {
  width: 400px;
  height: 280px;
  opacity: 0.7;
}

.overlay-gps {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}
